{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="row " id="bg">
    <div class="col-md-12 text-danger  p-5 ms-3">
        <a href="/index" class="text-decoration-none ">
            <h5 class="text-light ms-3 p-2 mt-3">Home/contact</h5>
        </a>
        <h1 class="ms-3  fw-bold">Contact us</h1>

    </div>
</div>
<div class="row">
    <h4 class="text-center">Our Mission Is To FindHouse</h1>
        <div class="col-md-8 offset-2">
            <div class="row p-5">
                <div class="col-md-6 ">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam cupiditate incidunt earum sint
                        iure id non nostrum libero porro! Et distinctio a recusandae nulla maiores nisi ipsum
                        reprehenderit id voluptatem.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam cupiditate incidunt earum sint
                        iure id non nostrum libero porro! Et distinctio a recusandae nulla maiores nisi ipsum
                        reprehenderit id voluptatem.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam cupiditate incidunt earum sint
                        iure id non nostrum libero porro! Et distinctio a recusandae nulla maiores nisi ipsum
                        reprehenderit id voluptatem.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam cupiditate incidunt earum sint
                        iure id non nostrum libero porro! Et distinctio a recusandae nulla maiores nisi ipsum
                        reprehenderit id voluptatem.</p>
                
                <div class="row">
                    <div class="col-md-4">
                       
                        <h2><i class="fa fa-user"></i>80,123</h2>
                        <p>Customer to date</p>
                    </div>
                    <div class="col-md-4">
           
                        <h2><i class="fa fa-user"></i>80,123</h2>
                        <p>Customer to date</p>
                    </div>
                    <div class="col-md-4">
                        
                        <h2><i class="fa fa-user"></i>80,123</h2>
                        <p>Customer to date</p>
                    </div>
                </div>
            </div>
                <div class="col-md-6">
                    <img src="../static/images/6.jpg" width="100%" alt="">
                </div>
            </div>
        </div>

</div>
<!-- end  -->
<section style="background-color: #F2F6F7; box-shadow: inset 1px 1px 50px 1px #e4eaeb">
    <div class="row mt-5 py-5">
        <div class="col-md-10 offset-1">
            <p class="text-center text-danger">Our Services</p>
            <h1 class="text-center fw-bold">Our Main Focus</h1>
            <div class="row mt-5">
                <div class="col-md-4  " data-aos="fade-up-right">
                    <div class="card p-5 border border-0  " style="height: 400px;"> 
                        <div class="d-flex justify-content-center">
                            <img src="http://tunatheme.com/tf/html/quarter-preview/quarter/img/icons/icon-img/21.png"
                                width="50%" alt="">
                        </div>
                        <a href="/shop" class="text-center text-black text-decoration-none fw-bold fs-3">Buy A Home</a>
                        
                        <p class="text-center">over 1 million+ homes for sale available on the website, we can match
                            you with a house you will want to call home.</p>
                        <a href="#" class="text-center text-secondary mt-3 nav-link">Find a Home -></a> 
                    </div>
                </div>
                <div class="col-md-4" data-aos="fade-up-right">
                    <div class="card p-5 border border-0 " style="height: 400px;">  
                        <div class="d-flex justify-content-center">
                            <img src="http://tunatheme.com/tf/html/quarter-preview/quarter/img/icons/icon-img/22.png"
                                width="50%" alt="">
                        </div>
                        <a href="#" class="text-center text-black text-decoration-none fw-bold fs-3">Rent a home</p></a>
                        <p class="text-center">over 1 million+ homes for sale available on the website, we can match
                            you with a house you will want to call home.</p>
                        <a href="#" class="text-center text-secondary mt-3 nav-link">Find a Home -></a>
                    </div>
                </div>
                <div class="col-md-4"data-aos="fade-up-right">
                    <div class="card p-5 border border-0" style="height: 400px;">
                        <div class="d-flex justify-content-center">
                            <img src="http://tunatheme.com/tf/html/quarter-preview/quarter/img/icons/icon-img/23.png"
                                width="50%" alt="">
                        </div>
                        <a href="/sell" class="text-center text-black text-decoration-none fw-bold fs-3">Sell a home</p></a>
                        <p class="text-center">over 1 million+ homes for sale available on the website, we can match
                            you with a house you will want to call home.</p>
                        <a href="#" class="text-center text-secondary mt-3 nav-link">Find a Home -></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 

{%endblock body%}