{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="row">
    <div class="col-md-12 text-center p-3 bg-light">
        <h2>blogs</h2>
    </div>
    {% for b in blg %}
    <div id="box" class="col-md-6 p-3 mt-3 blogs">
        <a href="/blogsdetail/{{ b.id }}"> 
            
            <img src="/media/{{ b.photo }}" width="100%" height="50%"/>
            <h3 class="mt-3 ms-3">{{ b.title }}</h3> 
            <h6>{{ b.description|slice:"0:50"|safe }}....</h6>
            <p>{{ b.post_by }} ({{b.post_on}})</p>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock body %}