{% extends 'base.html' %}
{% load static %}
{% block body %} 

        
        <div class="row p-4 bg-light ms-3">
            <div class="col-md-4">
                <div class="col-md-12 border bg-white text-dark text-center">
                        
                        <img src="/static/images/house3.jpeg" width="60%" height="30%" /> 
                        <h3>Luxury house</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporp</p>
                        <button class="btn btn-warning text-light rounded-0">Read More</button>
                        
                        
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12 border bg-white text-dark text-center">
                        
                        <img src="/static/images/house4.jpeg" width="60%" height="30%" />
                        <h3>Construction Consultant</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                        <button class="btn btn-warning text-light rounded-0">Read More</button>
                    </div>
                  
            </div>
            <div class="col-md-4">
                <div class="col-md-12 border bg-white text-dark text-center">
                        
                        <img src="/static/images/house2.jpeg" width="60%" height="30%" />
                        <h3>General Contracting</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                        <button class="btn btn-warning text-light rounded-0">Read More</button>
                    
                        
                </div>
            </div>
            </div>

        <div class="row p-4 bg-light">
            <div class="col-md-4">
                <div class="col-md-12 border bg-white text-dark text-center">
                    
                        <img src="/static/images/house3.jpeg" width="60%" height="30%" />
                        <h3>House Renovation</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporp</p>
                        <button class="btn btn-warning text-light rounded-0">Read More</button>
                        

                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12 border bg-white text-dark text-center">
                    
                        <img src="/static/images/house4.jpeg" width="60%" height="30%" />
                        <h3>Construction Consultant</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                        <button class="btn btn-warning text-light rounded-0">Read More</button>
                    
                    

                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12 border bg-white text-dark text-center">
                    
                        <img src="/static/images/house2.jpeg" width="60%" height="30%" />
                        <h3>General Contracting</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                        <button class="btn btn-warning text-light rounded-0">Read More</button>
                    
                    
                </div>
            </div>
            </div>
    
        
    </body>
</html>

{%endblock body%}