{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="row " id="bg">
  <div class="col-md-12 text-danger  ms-3">
      <a  href="/index" class="text-decoration-none "><h5 class="text-light ms-3 p-2 mt-3">Home/faq</h5></a>
      <h1 class="ms-3 d-md-flex fw-bold" >faq</h1>
    
  </div>
</div>
  <div class="accordion accordion-flush" id="accordionFlushExample">
    {% for f in f %}
    <div class="accordion-item">
        <h1 class="accordion-header " id="flush-heading{{ f.id }}">
          <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ f.id }}" aria-expanded="false" aria-controls="flush-collapse{{ f.id }}">
            {{ f.question }}
          </button>
        </h1>
        <div id="flush-collapse{{ f.id }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ f.id }}" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body   ">{{ f.Answer }}</div>
        </div>
      </div>
    {% endfor %}
</div>   

{%endblock body%}  