{% extends 'base.html' %}
{% load static %}
{% block body %} 


    <!--<div class="row">
        <div class="col-lg-6">
            <h1 class="title-text">Easy way to find a Perfect Property.</h1> 
        </div>
        <div class=" col-lg-6">
            <img src="/static/images/building.jpg" alt="iphone-mockup" class="title-image">
        </div>
    </div>-->
 
<section style="background-color: rgb(192, 237, 243);" id="home">
    <div class="row ">
        <div class="col-md-10 offset-1">
            <div class="row mt-5">
                <div class="col-md-6 mt-5 py-5 ">
                    <div class="icon-heading d-flex ">
                        <i class="fa fa-house mt-1 text-danger "></i>
                        <p class="fw-bold ms-2 ">Real Estate Agency</p>
                    </div>
                    <h1 class="fw-bold">Find your Dream <br>Home by Us</h1>
                    
                    <div class="row ">
                        <div class="col-md-5 gap-2 btn-group">
                            <a  href="/shop"><button class="btn btn-danger px-5 py-3 rounded-0  mt-3">Buy</button></a>
                            <a href="/sell/"><button class="btn btn-danger px-5 py-3 rounded-0 mt-3">sell</button></a>
                        </div>
                       
                    </div>

                </div>
                <div class="col-md-6">
                    <img src="http://tunatheme.com/tf/html/quarter-preview/quarter/img/slider/21.png" class="p-5"
                        width="100%" alt="">
                </div>
            </div>
        </div>
    </div>
    
</section>



<section>
    <div class="row mt-5">
        <div class="col-md-10 offset-1">
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <img src="http://tunatheme.com/tf/html/quarter-preview/quarter/img/others/7.png" width="100%"
                            alt="" data-aos="flip-up">
                    </div>
                </div>
                <div class="col-md-6 py-5 mt-5">
                    <p class="text-danger fw-bold lh-lg">About US</p>
                    <h1>Dream Living Spaces <br> Setting New Build</h1>
                    <p>The Leading Real Estate Rental Marketplace.</p>
                    <p>Over 39,000 people work for us in more than 70 countries all over the This breadth of global
                        coverage, combined with specialist services</p>
                    <div class="row">
                        <div class="col-md-6 p-3">
                            <i class="fa fa-house fs-4 text-danger"></i>
                            <span class="ms-2 text-secondary"> Smart Home Design </span>
                        </div>
                        <div class="col-md-6 p-3">
                            <i class="fa-solid fa-hill-rockslide fs-4 text-danger"></i>
                            <span class="ms-2 text-secondary"> Beautiful Scene Around </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 p-3"> 
                            <i class="fa-solid fa-heart fs-4 text-danger"></i>
                             <span class="ms-2 text-secondary"> Smart Home Design </span>
                        </div>
                        <div class="col-md-6 p-3">
                            <i class="fa fa-shield-halved fs-4 text-danger"></i>
                            <span class="ms-2 text-secondary"> Beautiful Scene Around </span>
                        </div>
                    </div>
                    <div class="row p-5">
                        <div class="col-md-12 p-2 bg-light border-left ">
                            <p class="text-center">"Enimad minim veniam quis nostrud exercitation
                                llamco laboris. Lorem ipsum dolor sit amet</p>
                        </div>
                    </div>
                    <button class="btn bnt-lg btn-danger rounded-0 px-5"> Our Services</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Property Cards-->

<section id="features" class="features" style="background-color:white">
    <div class="row">
        <div class="feature-box col-lg-4  ">

            <a href="/buy/"> <i class=" icon fa-solid fa-house fa-5x text-danger"></i></a>
            <h3>Houses</h3>
            <p>Easy to find Affordable Houses</p>
        </div>
        <div class="feature-box col-lg-4">
            <a href="/shop"><i class="icon fa-solid fa-people-roof fa-5x text-danger"></i></a>
            <h3>PG</h3>
            <p>A fully furnshed room according to your need</p>
        </div>
        <div class="feature-box col-lg-4">
            <a href="/rent/"><i class=" icon fa-5x fa-solid fa-building-user text-danger"></i></a>
            <h3>Daily Rentals</h3>
            <p>Room for One day or according to daily rent</p>
        </div>
    </div>
</section>


</section>
<section>
    <div class="row bg-light p-5 mt-5">
        <div class="col-md-10 offset-1">
            <div class="row p-5">
                <div class="col-md-3 d-flex flex-column align-items-center">
                    <i class="fa-solid fa-building fs-1 text-danger"></i>
                    <p class="mt-5 display-5 fw-bold">560+ </p>
                    <p class="text-secondary fw-bold">Total Area Sq</p>
                </div>
                <div class="col-md-3 d-flex flex-column align-items-center">
                    <i class="fa-solid fa-chair fs-1 text-danger"></i>
                    <p class="mt-5 display-5 fw-bold">197k+ </p>
                    <p class="text-secondary fw-bold">Apartments Sold</p>
                </div>
                <div class="col-md-3 d-flex flex-column align-items-center">
                    <i class="fa fa-caravan fs-1 text-danger"></i>
                    <p class="mt-5 display-5 fw-bold">268+ </p>
                    <p class="text-secondary fw-bold">Total Constructions</p>
                </div>
                <div class="col-md-3 d-flex flex-column align-items-center">
                    <i class="fa-solid fa-chair fs-1 text-danger"></i>
                    <p class="mt-5 display-5 fw-bold">340+ </p>
                    <p class="text-secondary fw-bold">Apartio Rooms</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="col-md-10 offset-1" data-aos="zoom-out-right">
            <div class="row">
                <div class="col-md-6 p-5 ">
                    <p class="text-danger fw-bold">About US</p>
                    <h2 class="fs-1 fw-bold">Today Sells Properties</h2>
                    <p class="text-secondary mt-3">Houses allow you to design unlimited panels and real estate
                        custom forms to capture leads and keep record of all information</p>
                    <p class="text-secondary fw-bold lh-lg">Live Music Cocerts at Luviana</p>
                    <p class="text-secondary fw-bold lh-lg">Our SecretIsland Boat Tour is Just for You</p>
                    <p class="text-secondary fw-bold lh-lg">Live Music Cocerts at Luviana</p>
                    <p class="text-secondary fw-bold lh-lg">Live Music Cocerts at Luviana</p>
                    <div class="row">
                        <div class="col-md-3">
                            <span class="text-secondary lh-lg fw-bold ">3</span>
                            <i class="fa-solid fa-bed"></i>
                            <p class="text-secondary lh-lg fw-bold ">Bedroom</p>
                        </div>
                        <div class="col-md-3">
                            <span class="text-secondary lh-lg fw-bold ">2</span>
                            <i class="fa fa-bath"></i>
                            <p class="text-secondary lh-lg fw-bold ">Bathroom</p>
                        </div>
                        <div class="col-md-3">
                            <span class="text-secondary lh-lg fw-bold ">2</span>
                            <i class="fa-solid fa-car"></i>
                            <p class="text-secondary lh-lg fw-bold ">Car Parking</p>
                        </div>
                        <div class="col-md-3">
                            <span class="text-secondary lh-lg fw-bold ">3550</span>
                            <i class="fa-regular fa-square"></i>
                            <p class="text-secondary lh-lg fw-bold ">Secure Ft</p>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4">
                            <img src="http://tunatheme.com/tf/html/quarter-preview/quarter/img/img-slide/11.jpg"
                                width="100%" alt="">
                        </div>
                        <div class="col-md-4">
                            <img src="http://tunatheme.com/tf/html/quarter-preview/quarter/img/img-slide/12.jpg"
                                width="100%" alt="">
                        </div>
                        <div class="col-md-4">
                            <img src="http://tunatheme.com/tf/html/quarter-preview/quarter/img/img-slide/13.jpg"
                                width="100%" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-5">
                    <img src="http://tunatheme.com/tf/html/quarter-preview/quarter/img/others/9.png" width="100%"
                        alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section style="background-color: #F2F6F7; box-shadow: inset 1px 1px 50px 1px #e4eaeb">
    <div class="row mt-5 py-5">
        <div class="col-md-10 offset-1">
            <p class="text-center text-danger">Our Services</p>
            <h1 class="text-center fw-bold">Our Main Focus</h1>
            <div class="row mt-5">
                <div class="col-md-4  " data-aos="fade-up-right">
                    <div class="card p-5 border border-0">
                        <div class="d-flex justify-content-center">
                            <img src="http://tunatheme.com/tf/html/quarter-preview/quarter/img/icons/icon-img/21.png"
                                width="50%" alt="">
                        </div>
                        <a href="/buy/" class="text-center text-black text-decoration-none fw-bold fs-3">Buy A Home</a>
                        
                        <p class="text-center">over 1 million+ homes for sale available on the website, we can match
                            you with a house you will want to call home.</p>
                        <a href="/buy/" class="text-center text-secondary mt-3 nav-link">Find a Home </a>
                    </div>
                </div>
                <div class="col-md-4" data-aos="fade-up-right">
                    <div class="card p-5 border border-0">  
                        <div class="d-flex justify-content-center">
                            <img src="http://tunatheme.com/tf/html/quarter-preview/quarter/img/icons/icon-img/22.png"
                                width="50%" alt="">
                        </div>
                        <a href="/rent/" class="text-center text-black text-decoration-none fw-bold fs-3">Rent a home</p></a>
                        <p class="text-center">over 1 million+ homes for sale available on the website, we can match
                            you with a house you will want to call home.</p>
                        <a href="/rent/" class="text-center text-secondary mt-3 nav-link">Find a Home -></a>
                    </div>
                </div>
                <div class="col-md-4"data-aos="fade-up-right">
                    <div class="card p-5 border border-0">
                        <div class="d-flex justify-content-center">
                            <img src="http://tunatheme.com/tf/html/quarter-preview/quarter/img/icons/icon-img/23.png"
                                width="50%" alt="">
                        </div>
                        <a href="/sell/" class="text-center text-black text-decoration-none fw-bold fs-3">Sell a home</p></a>
                        <p class="text-center">over 1 million+ homes for sale available on the website, we can match
                            you with a house you will want to call home.</p>
                        <a href="/sell/" class="text-center text-secondary mt-3 nav-link">Sell a Property -></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-5" id="v-icon"
    style="background-image: url(http://tunatheme.com/tf/html/quarter-preview/quarter/img/bg/19.jpg);  width: 100%; height: 300px;  background-attachment: fixed;">
    
</section>

<section class="bg-light">
    <div class="row mt-5">
        <div class="col-md-10 offset-1">
            <p class="text-center fw-bold text-danger mt-3  ">Our Aminities</p>
            <h1 class="text-center fw-bold">Building Aminities</h1>
            <div class="row mt-5">
                <div class="col-md-3 ">
                    <div class="card p-5 border border-0 rounded-3">
                        <div class="logo d-flex justify-content-center">
                            <i class="fa fa-car fs-2 p-3 bg-danger text-light rounded-circle"></i>
                        </div>
                        <p class="fs-4  text-center  fw-bold mt-3">parking Space</p>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="card p-5 border border-0 rounded-3">
                        <div class="logo d-flex justify-content-center">
                            <i class="fa fa-water-ladder fs-2 p-3 bg-danger text-light rounded-circle"></i>
                        </div>
                        <p class="fs-4  text-center fw-bold mt-3">Swimming Pool</p>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="card p-5 border border-0 rounded-3">
                        <div class="logo d-flex justify-content-center">
                            <i class="fa fa-shield-halved fs-2 p-3 bg-danger text-light rounded-circle"></i>
                        </div>
                        <p class="fs-4  text-center fw-bold mt-3">Private Security</p>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="card p-5 border border-0 rounded-3">
                        <div class="logo d-flex justify-content-center">
                            <i class="fa-solid fa-notes-medical p-3 bg-danger text-light rounded-circle"></i>
                        </div>
                        <p class="fs-4  text-center fw-bold mt-3">Medical Center</p>
                    </div>
                </div>

            </div>
            <div class="row mt-5">
                <div class="col-md-3 ">
                    <div class="card p-5 border border-0 rounded-3">
                        <div class="logo d-flex justify-content-center">
                            <i class="fa fa-book p-3 bg-danger text-light rounded-circle "></i>
                        </div>
                        <p class="fs-4  text-center fw-bold mt-3">Library Area</p>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="card p-5 border border-0 rounded-3">
                        <div class="logo d-flex justify-content-center">
                            <i class="fa fa-bed p-3 bg-danger text-light rounded-circle"></i>
                        </div>
                        <p class="fs-4  text-center fw-bold mt-3">King Size Beds</p>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="card p-5 border border-0 rounded-3">
                        <div class="logo d-flex justify-content-center">
                            <i class="fa-solid fa-house p-3 bg-danger text-light rounded-circle"></i>
                        </div>
                        <p class="fs-4 text-center  fw-bold mt-3">Smart Homes</p>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <div class="card p-5 border border-0 rounded-3">
                        <div class="logo d-flex justify-content-center">
                            <i class="fa-sharp fa-solid fa-gamepad p-3 bg-danger text-light rounded-circle"></i>
                        </div>
                        <p class="fs-4 text-center  fw-bold mt-3">Kid's Playland</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="bg-light mt-xl-5">
    <div class="row mt-5">
        <div class="col-md-10 offset-1">
            <p class="text-center fw-bold text-danger mt-3  ">News & Blogs</p>
            <h1 class="text-center fw-bold">Leatest News Feeds</h1>
            <div class="row">
                <div class="col-md-4 p-3">
                    <img src="http://tunatheme.com/tf/html/quarter-preview/quarter/img/blog/1.jpg" width="100%" alt="">
                    <div class="card-data d-flex mt-3 p-3">
                        <i class="fa fa-user fs-5 p-1 text-danger"></i>
                        <span class="ms-2 fw-bold text-secondary"> By: Admin</span>
                        <p class="ms-5 fw-bold text-secondary"> Decorate</p>
                    </div>
                    <h5 class="fw-bold ">10 Brilliant Ways To Decorate Your <br> Home</h5>
                    <div class="row mt-5 border-top p-1">
                        <div class="col-md-6">
                            <p class="fw-bold">june 24,2021</p>
                        </div>
                        <div class="col-md-6">
                            <a href="" class="nav-link">Read More</a>
                             
                        </div>
                    </div>
                </div>
                <div class="col-md-4 p-3">
                    <img src="http://tunatheme.com/tf/html/quarter-preview/quarter/img/blog/2.jpg" width="100%" alt="">
                    <div class="card-data d-flex mt-3 p-3">
                        <i class="fa fa-user fs-5 p-1 text-danger"></i>
                        <span class="ms-2 fw-bold text-secondary"> By: Admin</span>
                        <p class="ms-5 fw-bold text-secondary"> Interior</p>
                    </div>
                    <h5 class="fw-bold ">The Most Inspiring  Interior Design Of 2023</h5>
                    <div class="row mt-5 border-top p-1">
                        <div class="col-md-6">
                            <p class="fw-bold">june 24,2021</p>
                        </div>
                        <div class="col-md-6">
                            <a href="" class="nav-link">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 p-3">
                    <img src="http://tunatheme.com/tf/html/quarter-preview/quarter/img/blog/3.jpg" width="100%" alt="">
                    <div class="card-data d-flex mt-3 p-3">
                        <i class="fa fa-user fs-5 p-1 text-danger"></i>
                        <span class="ms-2 fw-bold text-secondary"> By: Admin</span>
                        <p class="ms-5 fw-bold text-secondary"> Decorate</p>
                    </div>
                    <h5 class="fw-bold  px-2">Recent Commercial Real Estate Transactions</h5>
                    <div class="row mt-5 border-top p-1">
                        <div class="col-md-6">
                            <p class="fw-bold">june 24,2021</p>
                        </div>
                        <div class="col-md-6">
                            <a href="" class="nav-link">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 
<section class="my-5 py-5"
    style="background-image: url(http://tunatheme.com/tf/html/quarter-preview/quarter/img/bg/20.jpg); height: auto;">
    <p class="text-center fw-bold text-danger">Our Testimonial</p>
    <h2 class="text-center fw-bold">Clients Feedback</h2>
    <div class="row"> 
        <div class="col-md-10 offset-1">
            <div class="row mt-5">
                <div class="col-md-4">
                    <div class="card p-5 border border-0 shadow rounded-3">
                        <i class="fa fa-quote-left fs-2"></i>
                        <p class="text-secondary lh-lg"> Precious ipsum dolor sit amet
                            consectetur adipisicing elit, sed dos
                            mod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad min
                            veniam, quis nostrud Precious ips
                            um dolor sit amet, consecte</p>
                        <div class="img-p d-flex">
                            <img src="http://tunatheme.com/tf/html/quarter-preview/quarter/img/testimonial/1.jpg"
                                width="70px " class="rounded-circle" alt="">
                            <p class="ms-2 mt-1"><span class="fw-bold"> Jacob William</span> <br>
                                SELLING AGENTS</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card p-5 border border-0 shadow rounded-3">
                        <i class="fa fa-quote-left fs-2"></i>
                        <p class="text-secondary lh-lg"> Precious ipsum dolor sit amet
                            consectetur adipisicing elit, sed dos
                            mod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad min
                            veniam, quis nostrud Precious ips
                            um dolor sit amet, consecte</p>
                        <div class="img-p d-flex">
                            <img src="http://tunatheme.com/tf/html/quarter-preview/quarter/img/testimonial/3.jpg"
                                width="70px " class="rounded-circle" alt="">
                            <p class="ms-2 mt-1"><span class="fw-bold"> Adam Jopesh</span> <br>
                                SELLING AGENTS</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card p-5  border border-0 shadow rounded-3">
                        <i class="fa fa-quote-left fs-2"></i>
                        <p class="text-secondary lh-lg"> Precious ipsum dolor sit amet
                            consectetur adipisicing elit, sed dos
                            mod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad min
                            veniam, quis nostrud Precious ips
                            um dolor sit amet, consecte</p>
                        <div class="img-p d-flex">
                            <img src="http://tunatheme.com/tf/html/quarter-preview/quarter/img/testimonial/2.jpg"
                                width="70px " class="rounded-circle" alt="">
                            <p class="ms-2 mt-1"><span class="fw-bold"> Kelian Anderson</span> <br>
                                SELLING AGENTS</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}