{% extends 'base.html' %}
{% load static %}
{% block body %}
 <div class="row">
    <div class="col-md-12 text-center p-3 bg-light">
        <h2>properties</h2>
    </div>
    <div class="row">

    {% for s in pro %}
    <div id="box1" class="col-md-4 p-3  mt-3">
        <span class="bg-danger text-light p-3 position-absolute">{{ s.property_for }}</span>
        <img src="/media/{{ s.photo1 }}" width="100%" height="50%">
        <h3 class="mt-3 ms-3 ">{{ s.title }}</h3>
        <!--<h6>{{ s.description|slice:"0:50"|safe }}....</h6> -->
        <br>
        <div class="d-flex ">
        <h6>{{s.area_sqft}}m<SUP>2</SUP><span class="ms-2 text-secondary"><br>area.sqft</span></h6>
        <br>
        <h6>{{s.no_of_rooms}}<span class="ms-2 text-secondary"><br>rooms</span> </h6>
        <h6>{{s.no_of_bathrooms}}<span class="ms-2 text-secondary"><br>baths</span></h6>
        <h6>{{s.no_of_floors}}<span class="ms-2 text-secondary"><br>floors</span></h6>
         
        <a href="/shopdetail/{{ s.id }}"  class="btn btn-primary  ms-4 ">Read more</a>
    </div>
    </div>
    
    {% endfor %} 
</div>




{% endblock body%} 